/* css_pc화면 인덱스 */
/* 바디 */
body{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

/* 헤더 */
header{
    width: 100%;
    height: 120px;

    display: flex;
    justify-content: center;

    background-color: #dddcdc;

    position: fixed;
    top: 0;
}

header>#headerMenu{
    width: 1280px;
    height: 100%;

    padding: 0 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>#headerMenu>#logo>img{
    width: 80px;
    height: 80px;
}

header>#headerMenu>#headerMenuContainer{
    display: flex;
    flex-direction: column;

    align-items: flex-end;
}

header>#headerMenu>#headerMenuContainer>#headerMenuFirstLine,
header>#headerMenu>#headerMenuContainer>#headerMenuSecondLine{
    display: flex;
}

header>#headerMenu>#headerMenuContainer>#headerMenuFirstLine{
    margin-bottom: 10px;
}

header>#headerMenu>#headerMenuContainer>#headerMenuFirstLine>span{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.24px;

    margin-left: 40px;
}

header>#headerMenu>#headerMenuContainer>#headerMenuSecondLine>span{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.24px;
    
    margin-left: 40px;
}

header>#headerMenu>#headerMenuContainer span:active{
    opacity: .5;
}

/* 섹션 */
section{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 120px;
}

section>img{
    width: 100%;
}

section>img:last-child{
    margin-bottom: 130px;
}

/* 푸터 */
footer{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: center;

    background-color: #243832;

    position: fixed;
    bottom: 0;
}

/* 로그인 전 화면 */
footer>#beforeLogin{
    width: 1280px;
    height: 170px;
    display: flex;
    align-items: center;

    padding: 0 10px;
}

footer>#beforeLogin>#footerLogo{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-right: 50px;
}

footer>#beforeLogin>#footerLogo>img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

footer>#beforeLogin>#footerLogo>#footerLogoText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>#beforeLogin>#footerLogo>#footerLogoText>span:first-child{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.24px;
    
    color: #FFFFFF;
}

footer>#beforeLogin>#footerLogo>#footerLogoText>span:last-child{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.24px;

    color: #FFFFFF;
}

footer>#beforeLogin>#footerText{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

footer>#beforeLogin>#footerText>span{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.24px;
    
    color: #FFFFFF;
}

footer>#beforeLogin>#footerText>span>strong{
    font-weight: 800;
    font-size: 16px;
}

footer>#beforeLogin>#footerEnroll{
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-left: 50px;
    margin-bottom: 50px;
}

footer>#beforeLogin>#footerEnroll>div{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px 10px;
    opacity: .7;
}

footer>#beforeLogin>#footerEnroll>div>span{
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.24px;
    opacity: .7;
    color: #FFFFFF;
}

footer>#beforeLogin>#footerEnroll>div:active,
footer>#beforeLogin>#footerEnroll>div>span:active{
    opacity: .4;
}

/* 로그인 후 화면 */
footer>.afterLogin{
    width: 1280px;
    height: 130px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
}

/* business */
footer>#businessController{
	display: flex;
	gap: 0 10px;
}
footer>#businessController>span{
	flex-grow: 1;
	
	color: #ffffff;
	font-weight: 600;
	
	text-align: center;
	padding: 40px 0;
	
	border: 1px solid #ffffff;
}



footer>.afterLogin>#rewardBox{
    position: relative;

    height: 100%;
    width: 80px;

    margin-right: 50px;
}

footer>.afterLogin>#rewardBox>img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
}

footer>.afterLogin>#rewardBox>#rewardCount{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);

    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.24px
}

footer>.afterLogin>#userInfoBox{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}

footer>.afterLogin>#userInfoBox>p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;
    
    color: #FFFFFF;
}

footer>.afterLogin>#userInfoBox>p>span{
    font-weight: 600;
}

footer>.afterLogin>#userInfoBox>p:first-child{
    margin-bottom: 5px;
}

footer>.afterLogin>#userInfoBox>p>span#userInfoLevel{
    color: #00704A;
}

footer>.afterLogin>#userInfoBox>p>span#userInfoLevelUp{
    color: #CCC050;
}

footer>.afterLogin>#cardInfoBox{
    display: flex;
    align-items: flex-end;

    margin-left: 50px;
}

footer>.afterLogin>#cardInfoBox>img{
    height: 80px;
    margin-left: 10px;
}

footer>.afterLogin>#cardInfoBox>#cardInfoText>p{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.24px;
    
    color: #FFFFFF;
}

footer>.afterLogin>#cardInfoBox>#cardInfoText>p>span{
    font-weight: 600;
    font-size: 20px;
}

/* Line */
#line{
    width: 100%;
    height: 1px;
    background-color: #dddcdc;
    margin: 10px 0;
}



/* notification */
#notificationContainer{
	width: 100%;
	height: 50px;
	
	background-color: rgba(255, 0, 0, .6);
	text-align: center;
	
	display: none;
}

#notificationContainer>#temp{
	width: 100%;
	height: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;	
}

#notificationContainer>#temp>#temp2{
	width: 1260px;
	height: 100%;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 0 10px;
}

#notificationContainer>#temp>#temp2>span{
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
}

#notificationContainer>#temp>#temp2>span#confirmButton{
	padding: 5px 10px;
	border: 1px solid #ffffff;
	border-radius: 5px;
}