<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="business">
	<resultMap type='businessOrder' id='businessOrderMap'>
		<id property='businessOrderSeq' column='BUSINESS_ORDER_SEQ'/>
		<result property='storeId' column='STORE_ID'/>
		<result property='id' column='ID'/>
		<result property='orderNo' column='ORDER_NO'/>
		<result property='productName' column='PRODUCT_NAME'/>
		<result property='selectedOption' column='SELECTED_OPTION'/>
		<result property='quantity' column='QUANTITY'/>
		<result property='extraShot' column='EXTRA_SHOT'/>
		<result property='acceptedDate' column='ACCEPTED_DATE'/>
		<result property='status' column='STATUS'/>
		<result property='completedDate' column='COMPLETED_DATE'/>
	</resultMap>
	<insert id='addBusinessOrderInfo' parameterType='hashmap'>
		INSERT INTO BUSINESS_ORDER_INFO 
		VALUES (SEQ_BUSINESS_ORDER_INFO.NEXTVAL, #{storeId}, #{id}, #{orderNo}, #{productName}, #{selectedOption}, #{quantity}, #{extraShot}, SYSDATE, 'N', '')
	</insert>
	<select id='getOrderList' parameterType='string' resultMap='businessOrderMap'>
		SELECT ID, ORDER_NO, ACCEPTED_DATE
		FROM BUSINESS_ORDER_INFO 
		WHERE STORE_ID=#{storeId} AND STATUS='N'
		GROUP BY ID, ORDER_NO, ACCEPTED_DATE
		ORDER BY ACCEPTED_DATE DESC
	</select>
	<select id='getOrderDetail' parameterType='hashmap' resultMap='businessOrderMap'>
		SELECT * FROM BUSINESS_ORDER_INFO WHERE STORE_ID=#{storeId} AND ORDER_NO=#{orderNo}
	</select>
	<update id='changeBusinessOrderStatus' parameterType='string'>
		UPDATE BUSINESS_ORDER_INFO SET STATUS='Y', COMPLETED_DATE=SYSDATE WHERE ORDER_NO=#{orderNo}
	</update>
</mapper>
